<!--<nav class="navbar nav">
  <p class="navbar-item is-text-centered">
    <a class="link is-info" href="#">Contact Us</a>
  </p>
  <p class="navbar-item is-text-centered">
    <img src="" alt="">
  </p>
  <p class="navbar-item is-text-centered">
    <a class="button is-success" href="/signUp">Sign Up</a>
  </p>
</nav>-->
<!-- Main image box --> 
    <div class="image is 16by9">
	<img class="main_img" ng-src="{{ background[0].image }}" />
	 <div class="columns">
	  <div class="column is-12">
	  <div class="white_background_box">
	    <img class="main_bee" ng-src="{{ background[2].image }}" />
		<div class="columns">
		<div class="column is-12">			   
	    <p class="title is-1 main_title">The New Standard of Social Interaction</p>
	    <p class="subtitle is-3 sub_title">"Changing the way humans interact with other humans"</p>
		</div>
		</div>
		<div class="columns">
		  <div class="column is-6">
			<a class="button_left action_button button is-info is-medium">Learn More</a>
		  </div>
		  <div class="column is-6">
			<a class="button_right action_button button is-success is-medium">Sign Up</a>
		  </div>
		</div>
	  </div>	 
	</div>
	</div>
    </div>
<!-- End Main Block -->
<div class="columns">
	<div class="column is-4 block_one" style="text-align:center;">
		<img src="http://placehold.it/350x250">
	</div>
		<div class="column is-8 block_one info">
		  <h2 class="title is-2 block_one_title">Sign Up</h2>
		   <h5 class="subtitle is-5 block_one_subtitle">One touch sign up or go custom</h5>
			<div class="tabs is-centered">
			<ul>			
				<li><a><i class="fa fa-facebook fa-lg"></i>Facebook</a></li>
				<li><a><i class="fa fa-twitter fa-lg"></i>Twitter</a></li>
				<li><a><i class="fa fa-google-plus fa-lg"></i>Google +</a></li>
				<li><a><i class="fa fa-cogs fa-lg"></i>(or) Custom</a></li>
			</ul>
			</div>
			  <div class="columns sub_block_one_button">
			  	<div class="column is-5 left">
				  <h3 class="subtitle is-3">Import a Profile</h3>
					<a class="button is-medium is-warning custom_button_info_left">
		                                <i class="fa fa-facebook fa-lg"></i>
                             		</a>
					<a class="button is-medium is-warning custom_button_info_left">
                                                <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a class="button is-medium is-warning custom_button_info_left">
                                                <i class="fa fa-google-plus fa-lg"></i>
                                        </a>
				</div>
				<div class="column is-2">
				    <h3 class="subtitle is-3">-(or)-</h3>
				</div>
				<div class="column is-5 right">
				    <h3 class="subtitle is-3">Make a Profile</h3>
                        	      <a class="button is-medium is-warning custom_button_info_right">
					<i class="fa fa-cogs fa-lg"></i>
					   Custom
				     </a>
                        	</div>
			</div>	  
		  </div>

</div> <!-- End block_one section -->
<!--<div class="columns">
	<div class="column is-12">
		<h2 class="title is-2">Group Up!</h2>
	</div>
</div>-->
<section class="hero">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Group Up!
      </h1>
      <h2 class="subtitle">
        Send an invite or search the app for friends
      </h2>
    </div>
  </div>
</section>
<div class="columns">
				<div class="column is-3" style="margin-left:60px">
		<nav class="menu">
  <p class="menu-heading">
    Groups
  </p>
  <p class="menu-tabs">
    <a class="is-active" href="#">All</a>
    <a href="#">Public</a>
    <a href="#">Private</a>
  </p>
  <a class="menu-block is-active" href="#">
    <span class="menu-icon">
      <i class="fa fa-book"></i>
    </span>
    John
  </a>
  <a class="menu-block" href="#">
    <span class="menu-icon">
      <i class="fa fa-book"></i>
    </span>
    Tim
  </a>
  <a class="menu-block" href="#">
    <span class="menu-icon">
      <i class="fa fa-book"></i>
    </span>
    Sarah
  </a>
  <a class="menu-block" href="#">
    <span class="menu-icon">
      <i class="fa fa-code-fork"></i>
    </span>
    Daniel
  </a>
  <a class="menu-block" href="#">
    <span class="menu-icon">
      <i class="fa fa-book"></i>
    </span>
    Kim
  </a>
  <div class="menu-block">
    <button class="button is-primary is-outlined" style="padding:0 85px;">
      Find
    </button>
    <button class="button is-primary is outlined">
      5+ | left
    </button>
  </div>
</nav>
				</div>
				<div class="column is-1">
	<i class="fa fa-long-arrow-right" style="font-size:80px; margin-top:120px;"></i>	
				</div>
				<div class="column is-3">
<nav class="menu">
  <p class="menu-heading">
    People you may know
  </p>
  <p class="menu-tabs">
    <a  href="#">All</a>
    <a class="is-active" href="#">Public</a>
    <a href="#">Private</a>
  </p>
  <a class="menu-block is-active" href="#">
    <span class="menu-icon" style=>
      <i class="fa fa-book"></i>
    </span>
    people
			<span class="button is-success" style="float:right; margin-top: -8px;">
                        <i class="fa fa-check"></i>
                        </span>
  </a>
  <a class="menu-block" href="#">
    <span class="menu-icon">
      <i class="fa fa-book"></i>
    </span>
    people
			<span class="button is-success" style="float:right; margin-top: -8px;">
                        <i class="fa fa-check"></i>
                        </span>
  </a>
  <a class="menu-block" href="#">
    <span class="menu-icon">
      <i class="fa fa-book"></i>
    </span>
	 people
			<span class="button is-success" style="float:right; margin-top: -8px;">
                        <i class="fa fa-check"></i>
                        </span>
  </a>
  <a class="menu-block" href="#">
    <span class="menu-icon">
      <i class="fa fa-code-fork"></i>
    </span>
    people
			<span class="button is-success" style="float:right; margin-top: -8px;">
                        <i class="fa fa-check"></i>
                        </span>
  </a>
  <a class="menu-block" href="#">
    <span class="menu-icon">
      <i class="fa fa-book"></i>
    </span>
    people
		<span class="button is-success" style="float:right; margin-top: -8px;">
                <i class="fa fa-check"></i>
                </span>
  </a>
  
<div class="menu-block">
    <button class="button is-primary is-outlined is-fullwidth">
      Add
    </button>
  </div>
</nav>
				</div>
				<div class="column is-1">
        <i class="fa fa-long-arrow-right" style="font-size:80px; margin-top:120px;"></i>
                                </div>
				<div class="column is-3" style="margin-left:-5px">
                <nav class="menu">
  <p class="menu-heading">
    People Added
  </p>
  <p class="menu-tabs">
    <a href="#">All</a>
    <a href="#">Public</a>
    <a class="is-active" href="#">Private</a>
  </p>
  <a class="menu-block is-active" href="#">
    <span class="menu-icon">
      <span class="button is-warning is-loading" style="margin-top: -8px;">
          <i class="fa fa-check"></i>
      </span>
    </span>
	<div class="padIt" style="padding-left:45px;">
	People Request Sent
	</div>
  </a>
<a class="menu-block is-active" href="#">
    <span class="menu-icon">
      <span class="button is-warning is-loading" style="margin-top: -8px;">
          <i class="fa fa-check"></i>
      </span>
    </span>
        <div class="padIt" style="padding-left:45px;">
        People Request Sent
        </div>
  </a>
<a class="menu-block is-active" href="#">
    <span class="menu-icon">
      <span class="button is-warning is-loading" style="margin-top: -8px;">
          <i class="fa fa-check"></i>
      </span>
    </span>
        <div class="padIt" style="padding-left:45px;">
        People Request Sent
        </div>
  </a>
<a class="menu-block is-active" href="#">
    <span class="menu-icon">
      <span class="button is-warning is-loading" style="margin-top: -8px;">
          <i class="fa fa-check"></i>
      </span>
    </span>
        <div class="padIt" style="padding-left:45px;">
        People Request Sent
        </div>
  </a>
<a class="menu-block is-active" href="#">
    <span class="menu-icon">
      <span class="button is-warning is-loading" style="margin-top: -8px;">
          <i class="fa fa-check"></i>
      </span>
    </span>
        <div class="padIt" style="padding-left:45px;">
        People Request Sent
        </div>
  </a>
  
  <div class="menu-block">
    <button class="button is-primary is-outlined" style="padding:0 85px;">
      Find
    </button>
    <button class="button is-primary is outlined">
      0 | left
    </button>
  </div>
</nav>
                                </div>
</div><!--    END BLOCK SECTION TWO ======================================================-->

<section class="hero">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Match Up!
      </h1>
      <h2 class="subtitle">
        Match with other groups in your area! 
      </h2>
    </div>
  </div>
</section>
