<!--<nav class="navbar nav">
  <p class="navbar-item is-text-centered">
    <a class="link is-info" href="#">Contact Us</a>
  </p>
  <p class="navbar-item is-text-centered">
    <img src="" alt="">
  </p>
  <p class="navbar-item is-text-centered">
    <a class="button is-success" href="/signUp">Sign Up</a>
  </p>
</nav>-->
<!-- Main image box --> 
    <div class="image is 16by9">
	<img class="main_img" ng-src="{{ background[0].image }}" />
	 <div class="columns">
	  <div class="column is-12">
	  <div class="white_background_box">
	    <img class="main_bee" ng-src="{{ background[2].image }}" />			   
	    <p class="title is-1">The New Standard of Social Interaction</p>
	    <p class="subtitle is-3">Changing the way humans interact with other humans</p>
	 </div>
	</div>
	</div>
    </div>

